.documents
  &-list
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-around
    margin: -.5rem

  &-item
    width: 25%
    min-width: 12rem
    max-width: 20rem
    flex: 0 0 auto
    padding: .5rem
    cursor: pointer

    $item: &

    &__sheet
      position: relative
      aspect-ratio: 1
      height: 100%
      width: 100%
      padding: .5rem
      margin: auto
      border: 1px solid var(--text-color)
      border-radius: 1em
      overflow: hidden
      transition: background-color .3s

      display: flex
      flex-direction: column

    &.selected,
    &:hover
      #{$item}__sheet
        background-color: rgba( 255, 255, 255, .2 )

    &__title
      position: relative
      margin-bottom: .5rem
      text-align: center
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
    &__description
      margin-top: auto
      margin-bottom: 0

    &__icon
      display: block
      position: absolute
      top: 0
      left: 0
      bottom: 0
      width: 100%
      height: 4rem
      line-height: 4rem
      margin: auto
      font-size: 4rem
      text-align: center
      color: var(--text-color)

    &__preview
      position: absolute
      top: 0
      left: 0
      object-fit: contain
      width: 100%
      height: auto

.btn
  &-del
    margin-top: auto

  &-edit
    margin-top: .5rem
