@import url('fonts/all.css');

* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #1a1a1a;
  --text-color: #fff;
  --edited-color: #4caf50;

  --header-height: 60px;

  --btn-color: #fff;
}

body {
  margin: 0;
  min-width: 320px;
  color: var(--text-color, #fff);
  background-color: var(--bg-color, #1a1a1a);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100%;
  /* overflow: hidden; */
}

h1,
h4 {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  min-height: var(--header-height, 60px);

  flex: 0 0 var(--header-height, 60px);

  z-index: 100;
}

main {
  position: relative;

  flex: 1 1 0;
  min-height: 0;

  /* margin-top: var(--header-height, 60px); */
}

.footer {
  flex: 0 0 auto;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

button {
  color: inherit;
  font: inherit;
  cursor: pointer;
}
button:focus {
  outline: none;
  box-shadow: none;
}

p:first-of-type {
  margin-top: 0;
}
p:last-of-type {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav .active {
  pointer-events: none;
}
