@import url('fonts/all.css');

* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #1a1a1a;
  --text-color: #fff;

  --header-height: 60px;

  --btn-color: #fff;
}

body {
  margin: 0;
  min-width: 320px;
  color: var(--text-color, #fff);
  background-color: var(--bg-color, #1a1a1a);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  /* overflow: hidden; */
}

header {
  position: sticky;
  min-height: var(--header-height, 60px);
  top: 0;
  z-index: 100;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  /* padding-top: var(--header-height, 60px); */
}

button {
  color: inherit;
  font: inherit;
  cursor: pointer;
}
button:focus {
  outline: none;
  box-shadow: none;
}

p:first-of-type {
  margin-top: 0;
}
p:last-of-type {
  margin-bottom: 0;
}
